.header{
display:block;
width:1000px;
height:100%;
margin-left:auto;
margin-right:auto;
}

.banner{

}

.navBar{

}

.contentWrapper{
display:block;
width:1000px;
height:100%;
margin-left:auto;
margin-right:auto;
}

.leftCol{

}

.rightCol{

}

.footer{
display:block;
width:1000px;
height:100%;
margin-left:auto;
margin-right:auto;
}
